name: Production

# 仅仅当 master 代码发生变更时，用以自动化部署
on:
  push:
    branches:    
      - master

jobs:
  deploy:
    runs-on: self-hosted
    steps: 
      - name: Checkout
        uses: actions/checkout@v3
      - name: Prepare
        run: ./build.sh
      - name: Install Dependency
        run:  npm i
      - name: Build
        run: npm run build